# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
env/

# ML / DL files
*.pt
*.pth
*.onnx
*.onnx.data
*.ckpt
*.h5

# Data / outputs
data/
outputs/*
!outputs/gen_eval/
!outputs/gen_eval_1000/
!outputs/**/*.png
!outputs/**/*.json
logs/
*.log

# IDE
.vscode/
.idea/

# Media
media/
*.mp4

# System
.DS_Store
Thumbs.db

__pycache__/
*.pyc
